.App {
  margin-top: 5vh;
  width: 80%;
  margin-left: 10%;
}

.textcenter {
  text-align: center;
}

pre {
  font-size: 20px;
  line-height: 30px;
  min-height: 40vh;
  white-space: pre-wrap;
  word-wrap: break-word;
}